<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ForestReco.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ForestReco.Properties.Settings>
            <setting name="forestFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="reftreeFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="outputFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="consoleVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="partitionStep" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="checkTreeFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="groundArrayStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="treeExtent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="treeExtentMultiply" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="avgTreeHeigh" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="exportTreeStructures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportInvalidTrees" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportRefTrees" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="assignRefTreesRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useCheckTreeFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportCheckTrees" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useReducedReftreeModels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filterPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoAverageTreeHeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportTreeBoxes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorTrees" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="export3d" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="analyticsFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="exportBitmap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tmpFilesFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="rangeXmin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rangeXmax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rangeYmin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rangeYmax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lasToolsFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="forestFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="currentSplitMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shapeFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="tileSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ExportBMTreePositions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportBMHeightmap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportBMTreeBorders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preprocess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteTmp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dbh" serializeAs="String">
                <value>Pow(0.98*height, 1.08)</value>
            </setting>
            <setting name="agb" serializeAs="String">
                <value>1.0849 * 1.0226 * Exp(1.9162 * Log(dbh, e) - 3.1963) + 1.1332 * 1.0103 * Exp(2.2552 * Log(dbh, e) - 3.9620) + 1.1146 * 1.1107 * Exp(2.0482 * Log(dbh, e) - 3.0906) + 1.0142 * 1.0238 * Exp(2.5060 * Log(dbh, e) - 2.5060)</value>
            </setting>
            <setting name="exportShape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportShapeTreePositions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportShapeTreeAreas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportLas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calculateDBH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calculateAGB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="detectMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="treeRadius" serializeAs="String">
                <value>0.056*height+1.052</value>
            </setting>
            <setting name="forestFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="forestFileExtension" serializeAs="String">
                <value>.las</value>
            </setting>
            <setting name="forestFileFullName" serializeAs="String">
                <value />
            </setting>
            <setting name="formLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="minTreeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="localMaxHeight" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="allowedDescend" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="minAscendSteps" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="minDescendSteps" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="minTreePoints" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="minBallDistance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="maxBallDistance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="minBallHeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="maxBallHeight" serializeAs="String">
                <value>4</value>
            </setting>
        </ForestReco.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.5.0" newVersion="1.7.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.0.0" newVersion="1.15.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>